/* iphone & android version*/
@media screen and (max-width:550px)
	#contenido

		#nota
			display none

		.item
			figure
				display none
			h2
				a
					display inline-block
					font-size 0.8em
					margin 0 
					padding 0
					text-align top
		

		.votos
			text-overflow elipsis
			margin-bottom 0.8em

/*ipad version*/
@media screen and (min-width:550px)
	#contenido
		background pink

		#nota
			display none

		.item
			font-size 0.95em
			vertical-align center
			margin 0.3 0.5em
			width 97%
			


			
@media screen and (min-width:1024px)
	#contenido
		background hotpink
		#nota
			display inline-block
			vertical-align top
			float right
			width 15%
			height auto
			-webkit-transition none
		#nota:hover
			height auto
		.item
			font-size 0.95em
			display inline-block
			vertical-align top
			margin 0.3em 0.5em
			padding 0.6em 5% 0.6em 0
			width 30%
			
				


